@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');



html {
    font-size: 100%;
}


body {
    padding: 0px;
    font-family:DM Sans, sans-serif;
    background-color: rgb(255, 255, 255);
    color:black;
}

nav,
.desktop-nav-links {
  display: flex;
}

nav {
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.accessible-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#menubutton {
  display: none;
  font-size: 30px;
  background-color: transparent;
  color: black;
  z-index: 2;
  border: 2px solid black;
  cursor: pointer;
  border: none;
  margin-left:0px;
}

#navmenu {
  display: none;
}

#header {
  display: none;
}

.desktop-nav-links {
  list-style: none;
  font-size: 18px;
  display: flex;
  color:black;
}

.desktop-nav-links li{
  margin-right: 40px;
  padding-left:40px;

}

.desktop-nav-links li a{
  text-decoration:none;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}

.myname {
  font-size: 20px;
  margin-left: 40px;
}

.profile {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:25px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.container {
  max-width: 50%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  flex:3;
}

.profile-text {
    text-align: left;
    box-sizing: border-box;
}

.profile-text h1 {
  font-size:40px;
  margin-top:0px;
  letter-spacing: 3px;
}

.profile-text p{
  line-height:1.5em;
  font-size:18px;
}

.profile-logos {
  display: flex;
  flex-direction:row;
  align-items: center;
  margin-top: 10px;
}

.profile-logos img {
  max-width: 25%;
  transition: transform 0.2s ease-in-out;
}

.profile-logos img:hover {
  background-color:grey;
  cursor: pointer;
  transform: scale(1.2);
}

.profile-headshot {
  right-align: 0px;
  flex:1;
}
.profile-headshot img{
    max-width: 55%;
    text-align: center;
    border-radius:10%;
}

.skills-section {
  text-align: center;
  margin: 20px;
  flex-direction:column;
}

.skills-section h1{
  margin-bottom:35px;
  margin-top:0px;
}
.skill-column {
  margin-top: 55px;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 450px;
  height: 325px;
  text-align: left;
  border: 1.5px solid black;
  border-radius: 35px;
  vertical-align: top;
}

.skill-column h3 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
}

.skill-column ul {
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

.skill-column li {
  margin-bottom: 8px;
  font-size:16px;
  line-height:1.5rem;
}

.skill-column strong {
  font-weight:bold;
}

.projects-button {
  text-align: center;
  margin-top: 60px;
}

.projects-button button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.projects-button button:hover {
  background-color:grey;
  cursor: pointer;
  transform: scale(1.2);
}

footer{
  margin-top:60px;
  margin-bottom:100px;
  text-align:center;
}

footer p{
  margin-bottom: 15px;
}

footer h1{
  font-size:25px;
  margin-top:0px;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contact-item {
  text-align: center;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
}

.contact-item img {
  max-width: 30px;
  margin-bottom: 10px;
}

.contact-item a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.contact-item a:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}

.contact-item p {
  margin: 10px;
  font-size:15px;
}

.project-title-center {
  text-align: center;
  font-size: 40px;
  margin-top: 45px;
  margin-bottom:65px;
  letter-spacing:3px;
}

.project-container {
  display: flex;
  margin-bottom: 50px;
  margin-left:125px;
  margin-right:125px;
  align-items: stretch;
}

.image-container {
  flex: 1.5;
  margin-right: 50px;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.image-box {
  width: 100%;
  padding: 40px;
  background-color: #efefef;
  box-sizing: border-box;
  overflow: hidden;
}

.image-box a img{
  object-fit: cover;
  object-position: center center;
  height: auto;
  width: auto;
}

.image-box:hover{
  background-color: #b5b5b5;
  cursor: pointer;
  transform: scale(1.2);
}

.project-image {
  object-fit: cover center;
  max-width: 100%;
  max-height: 100%;
}

.text-container {
  flex: 2.5;
  flex-direction:column;
  align-items: stretch;
}


.text-container h2 {
  font-size: 28px;
  margin-top:0px;
  margin-bottom: 10px;
  letter-spacing:2px;
}

.text-container p {
  margin-bottom: 10px;
  font-size:15px;
  letter-spacing: 0.5px;
  line-spacing:3px;
}


/* Animations */
.scroll-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 650px) {
  html {
    box-sizing: border-box;
  }


  .hidden {
    display: none !important;
  }

  .accessible-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #header{
    display:flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    width:100%;
    margin: 0 auto;
    background-color: white;
    padding: 6px 16px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:28px;
  }

  #widescreen{
    display:none;
  }

  #menubutton {
    display: flex;
    position: fixed;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.496);
    border-color:black;
    z-index: 2;
    border:none;
    cursor: pointer;
    order: 2;
  }

  .myname {
    margin-left: auto;
    margin-right:auto;
  }

  #navmenu {
    display: none;
    position: fixed;
    top: 82px;
    left:0px;
    width:100%;
    height: 20vh;
    background-color:#ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    text-align: center;
    opacity:.7;
  }

  #navmenu ul {
    list-style: none;
    padding: 0;
    margin-bottom:10px;
    text-align: center;
    justify-content: space-around;
  }

  #navmenu ul a {
    padding-bottom: 25px;
    color:black;
    display: inline-block;
  }

  .project-title-center {
    margin-top:75px;
  }

  main {
    margin-top:100px;
  }

  .profile{
    flex-direction:column;
  }

  .profile-content {
    margin-right: 25px;
    margin-left:25px;
  }

  .profile-text{
    margin-right: 15px;
    margin-left:15px;
  }

  .skill-column{
    flex-direction:column;
    margin: 20px;
    width: auto;
    height: auto;
  }

  .profile {
    margin-left: 20px;
  }

  .profile-headshot img{
    max-width: 65%;
    margin-right: 50px;
    margin-left:50px;
    margin-bottom: 45px;
  }

  .profile-logos {
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;
  }

  .profile-logos img {
    margin: 10px;
  }

  .project-container {
    flex-direction: column;
    margin-left:50px;
    margin-right:50px;
  }

  .project-title-center {
    text-align: center;
    font-size: 25px;
    margin-bottom:65px;
  }

  .text-container {
    margin-top:40px;
  }

  .text-container h2 {
    font-size: 15px;
    text-align:center;
    font-weight:bold;
  }

  .image-container {
    justify-content: center;
    margin-right: 0px;
  }

  .contact-section {
    display: flex;
    margin-top: 50px;
    flex-direction:column;
  }

  .contact-item {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
  }
}
