@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');


* {
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}


html {
    font-size: 100%;
}


body {
    padding: 0px;
    font-family:Outfit, sans-serif;
    font-weight:300;
    background-color: rgb(255, 255, 255);
    color:black;
}

nav,
.desktop-nav-links {
  display: flex;
}

nav {
  height: 80px;
  width: 100vw;
  justify-content: space-between;
}

#widescreen {
  position: fixed;
  z-index: 1000;
    top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

strong {
  font-weight: bold;
}

em {
font-style: italic;
}

.highlight {
  background-color: yellow; /* or any color of your choice */
  padding: 0.2em; /* Optional: Adds some padding around the text */
  border-radius: 3px; /* Optional: Adds rounded corners */
}

main{
  padding-top: 11vh;
}

.accessible-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#menubutton {
  display: none;
  font-size: 30px;
  background-color: transparent;
  color: black;
  z-index: 2;
  border: 2px solid black;
  cursor: pointer;
  border: none;
  margin-left:0px;
}

#navmenu {
  display: none;
}

#header {
  display: none;

}

.desktop-nav-links {
  list-style: none;
  font-size: 3vh;
  display: flex;
  color:black;
  gap:25px;
  margin-right: 4vw;
}


.desktop-nav-links li a{
  text-decoration:none;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0;
  margin:0;
  margin-bottom: 20px;;

}

.home-header-container {
  display: flex;
  align-items: flex-start;
  width: 88vw;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-left:30px;
  padding-right:30px;
  padding-top:42px;
  padding-bottom:42px;

}

.home-headshot {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-headshot-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  width: 250px;
  height: 250px;
}


.home-intro {
  flex: 7;
}

.home-name {
  font-size: 2.2em;
  margin-bottom: 10px;
  letter-spacing: 0.75px;
  font-weight:400;
}

.home-blurb {
  font-size: 1.3em;
  color: #282828;
  font-weight:80;

}

.home-experience-heading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #555;
}

.home-experience-list {
  list-style-type: none;
  padding: 0;
  color: #555;
}

.home-experience-list li {
  font-size: 15px;
  margin-bottom: 2px;
}

.home-experience-list li strong {
  font-weight: bold;
}

.myname {
  font-size: 3vh;
  margin-left: 40px;
  color: black;
}

.myname a {
  color: black;
  text-decoration: none;
}

.profile {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:25px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 8vh;
}

.container {
  max-width: 50%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  flex:3;
}

.profile-text {
    text-align: left;
    box-sizing: border-box;
}

.profile-text h1 {
  font-size:40px;
  margin-top:0px;
  letter-spacing: 3px;
}

.profile-text p{
  line-height:1.5em;
  font-size:18px;
}

.profile-logos {
  display: flex;
  flex-direction:row;
  align-items: center;
  margin-top: 10px;
}

.profile-logos img {
  max-width: 25%;
  transition: transform 0.2s ease-in-out;
}

.profile-logos img:hover {
  background-color:grey;
  cursor: pointer;
  transform: scale(1.2);
}

.profile-headshot {
  flex:1;

}
.profile-headshot img{
  width:25vw;
  height:75vh;
    text-align: center;
    border-radius:5%;
    object-fit: cover;
}

.skills-section {
  text-align: center;
  margin: 20px;
  flex-direction:column;
}

.skills-section h1{
  margin-bottom:35px;
  margin-top:0px;
}
.skill-column {
  margin-top: 55px;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 450px;
  height: 325px;
  text-align: left;
  border: 1.5px solid black;
  border-radius: 35px;
  vertical-align: top;
}

.skill-column h3 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
}

.skill-column ul {
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}

.skill-column li {
  margin-bottom: 8px;
  font-size:16px;
  line-height:1.5rem;
}

.skill-column strong {
  font-weight:bold;
}

.projects-button {
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.projects-button button {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.projects-button button:hover {
  background-color:grey;
  cursor: pointer;
  transform: scale(1.2);
}

footer{
  margin-top:60px;
  text-align:center;
}

footer p{
  margin-bottom: 15px;
  font-size: 1.35rem;
}

.footer-credit {
 font-size: 1.1rem;
 color: #333;; /* Nice medium gray */
 text-align: center;

  margin-top: 3rem; /* More space */
    margin-bottom: 3rem; /* More space */

}

footer h1{
  margin-top:0px;
    font-size: 1.6rem;

}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.contact-item {
  text-align: center;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
}

.contact-item img {
  max-width: 30px;
  margin-bottom: 10px;
}

.contact-item a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.contact-item a:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: grey;
}

.contact-item p {
  margin: 10px;
  font-size:15px;
}

.project-title-center {
  text-align: center;
  font-size: 40px;
  margin-top: 45px;
  margin-bottom:65px;
  letter-spacing:3px;
}

.project-container {
  display: flex;
  padding-top: 10vh;
  margin-bottom: 50px;
  margin-left:125px;
  margin-right:125px;
  align-items: stretch;
}


.home-project-portfolio {
  display: flex;
  gap: 55px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  width: 88vw;
  margin: 0 auto;
}


.home-project-project {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
 flex: 1 1 500px; /* flex-grow: 1, flex-shrink: 1, flex-basis: 400px */
  max-width: 600px; /* Prevents cards from getting too wide */
  min-width: 400px; /* Prevents cards from getting too narrow */
}

.home-project-image-container {
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.25s ease;
  border: 1.25px solid #cccccc;
}

.home-project-image-container:hover {
  transform: scale(0.95);
}

.home-project-project-image {
  width: 100%;
  height: auto;
   aspect-ratio: 16/9;
  display: block;
  object-fit: cover;

}

.home-project-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.7em;
  font-weight: 400;
  color: #000000;
  text-align: left;
}

.home-project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

.home-project-tag {
  border: 1.25px solid #cccccc;
  border-radius: 50px;
  padding: 4px 15px;
  font-size: 1em;
  color: #333;
}

.home-project-description {
  font-size: 1.15em;
  color: #000000;
  line-height: 1.5;
}

.home-project-image-link, .home-project-title-link {
  display: block;
  text-decoration: none; /* Remove underline from links */
}

.home-project-image-link, .home-project-title-link:hover{
  display: block;
  text-decoration: none;
  cursor:pointer;
}

.home-project-image-link img {
  display: block; /* Remove extra spacing below the image */
}

/* Animations */
.scroll-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-visible {
  opacity: 1;
  transform: translateY(0);
}

/* UX design pages */

.UX-header-image {
  margin-top: 0px;
  width: 100vw;
  margin-left: 0px;
  margin-right: 0px;
  height: 69vh;
  object-fit: cover;
}

.role-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;

}
.role-column {
  flex: 1;
  padding-right: 40px;
  box-sizing: border-box;
    font-size: 1.2rem;

}
.role-header {
  font-weight: 1000;
  margin-bottom: 10px;
}
.section-break {
  width: 100%;
  height: 1px;
  background-color: #000000;
  border: none;
  margin-bottom:50px;
}

.UX-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.uxtitle {
  margin-top: 4vh;
  margin-bottom: 1vh;
  font-size: 3.5rem;
  text-align: left;
  color:#000000;
  font-weight:380;
}

.uxtitle + h4 {
  margin-top: 1.5vh;
  margin-bottom:10vh;
  font-size: 3.5vh;
  letter-spacing: 0.0025vw;
  color:#474747;
  line-height: 5.5vh;
  font-weight:500;
}

.ux-project-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sectiontitle {
  font-weight: 380;
  font-size: 1.65rem;
  color:#5c5c5c;
  margin-bottom: 0vh;

}

.uximage {
  width: 100%;
  width: 65vw;
  height: 50vh;
  border-radius: 8px;
  margin: 0 auto;
}

.uxparagraph {
  margin-top: 0vh;
  font-size: 16px;
  letter-spacing: 0.0025vw;
  line-height: 1.6;
  margin-bottom: 0vh;
}

.uxlist {
  margin-top: 0vh;
  padding-top: 0vh;;
  font-size: 16px;
  letter-spacing: 0.0025vw;
  line-height: 1.6;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 88vw;
  margin: 0 auto;
}

.project {
  width: 40vw;
  height: 75vh;
  margin: 2vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.project:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.project-image {
  flex: 1; /* Take up remaining space */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.project-details {
  padding: 1rem;
}

.project-details h2 {
  margin-top: 0;
  font-size: 1.45rem;
  text-align: center;
}

.project-details p {
  margin-bottom: 0.5rem;
  font-size: 0.92rem;
}

a.project-link {
  color: #333;
  text-decoration: none;
}


/* example code
.home-header-container {
  justify-content: center;
  align-items: center;
  padding-left:30px;
  padding-right:30px;
  padding-top:42px;
  padding-bottom:42px;

}

.home-headshot {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home-headshot-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  width: 250px;
  height: 250px;
}


.home-intro {
  flex: 7;
  padding: 20px;
}


/* Container for header with image and text */

.about-header {
  display: flex;
  align-items: center;
}

.about-header-content {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  gap: 40px;
}

/* Photo styling */
.about-photo {
  flex: 3; /* Takes up 4 parts of available space */
  width: 100%;
  height: auto;
  max-height: 400px; /* Set a reasonable max height */
  border-radius: 10px;
  object-fit: cover;
}

/* Text container styling */
.about-intro-text {
    flex: 7;
}

.about-intro-text h1 {
    font-size: 2.2em;
  letter-spacing: 0.75px;
  font-weight:400;
}

.about-intro-text p{
    font-size: 1.6rem;
}

/* Flexbox for section and other content */
.about-main {

  padding: 20px;
  margin-bottom: 20px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.about-main h2{
      font-size: 2.2em;
  letter-spacing: 0.75px;
  font-weight:400;
}

.about-main p{
      font-size: 1.3em;
}

.about-outside, .about-leadership {
  margin-bottom: 40px; /* Space between sections */
}

.about-drive, .about-hobby, .about-role {
  margin-bottom: 20px; /* Space between items within sections */
}

.about-hobby {
  margin-top: 50px; /* Space between items within sections */
}

.about-hobby.first-item {
  margin-top: 0; /* Remove top margin for the first item */
}


.hobby-images {
  display: flex;
  gap: 30px; /* Space between images */
  width:100%;
  box-sizing: border-box;
  margin-top:30px;
}

.hobby-img {
  width: 200px;
  border-radius: 10px; /* Optional: for rounded corners */
  flex:1;
  object-fit: cover;

}

.about-footer {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5; /* Optional: adds a background color to the footer */
}

.about-footer a {
  color: #007bff; /* Optional: link color */
  text-decoration: none;
}

.about-footer a:hover {
  text-decoration: underline;
}


@media (max-width: 650px) {
  html {
    box-sizing: border-box;
  }

  main{
    padding-top: 0vh;
  }

  .hidden {
    display: none !important;
  }

  .accessible-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  #header{
    display:flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    width:100%;
    margin: 0 auto;
    background-color: white;
    padding: 6px 16px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:28px;
  }

  #widescreen{
    display:none;
  }

  #menubutton {
    display: flex;
    position: fixed;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.496);
    border-color:black;
    z-index: 2;
    border:none;
    cursor: pointer;
    order: 2;
  }

  .myname {
    margin-left: auto;
    margin-right:auto;
  }


  #navmenu {
    display: none;
    position: fixed;
    top: 82px;
    left:0px;
    width:100%;
    height: 20vh;
    background-color:#ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    text-align: center;
    opacity:.7;
  }

  #navmenu ul {
    list-style: none;
    padding: 0;
    margin-bottom:10px;
    text-align: center;
    justify-content: space-around;
  }

  #navmenu ul a {
    padding-bottom: 25px;
    color:black;
    display: inline-block;
  }

  .project-title-center {
    margin-top:75px;
  }

  main {
    margin-top:100px;
  }

.home-header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    padding-bottom:0px;
}
.home-name{
  text-align:center;
}

.home-headshot {
    margin-bottom: 0px;
    padding: 0px;

}

.home-headshot-image {
    width: 180px; /* Adjust as needed */
    height: 180px; /* Adjust as needed */
    margin-top:0;
}

.home-intro {
    padding: 0 10px;
}

.home-name {
    font-size: 1.8em; /* Adjust size as needed */
}

.home-blurb {
    font-size: 1em; /* Adjust size as needed */
}

.home-project-portfolio {
    width: 100%;
    gap: 20px;
}

.home-project-project {
    width: calc(100% - 20px); /* Full width with some margin */
    margin: 0 auto;
}

.home-project-project-image {
    height: auto; /* Adjust height to maintain aspect ratio */
}

.home-project-title {
    font-size: 20px; /* Adjust size as needed */
}

.home-project-description {
    font-size: 14px; /* Adjust size as needed */
}

.home-project-tags {
    justify-content: left;
}

.home-project-tag {
    font-size: 12px; /* Adjust size as needed */
    padding: 2px 10px; /* Adjust padding as needed */
}

  .skill-column{
    flex-direction:column;
    margin: 20px;
    width: auto;
    height: auto;
  }

  .profile {
    margin-left: 20px;
  }

  .profile-headshot img{
    max-width: 65%;
    margin-right: 50px;
    margin-left:50px;
    margin-bottom: 45px;
  }

  .profile-logos {
    align-items: center;
    margin-top: 10px;
    justify-content: space-evenly;
  }

  .profile-logos img {
    margin: 10px;
  }


.home-project-portfolio {
  display: flex;
  padding: 20px;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
}

.home-project-project {
  overflow: hidden;
  width: 100vw;
  margin-bottom: 20px;
}

.project-container {
  flex-direction: column;
  margin-left:0px;
  margin-right:0px;
}
  .project-container {
    flex-direction: column;
    margin-left:50px;
    margin-right:50px;
  }

  .project-title-center {
    text-align: center;
    font-size: 25px;
    margin-bottom:65px;
  }

  .text-container {
    margin-top:40px;
  }

  .text-container h2 {
    font-size: 15px;
    text-align:center;
    font-weight:bold;
  }

  .image-container {
    justify-content: center;
    margin-right: 0px;
  }

  .sectiontitle img {
    max-width: 100%; /* Make sure the image doesn't exceed the container width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra space below the image */
    margin: 0 auto; /* Center the image horizontally */
}

  .about-header-content {
    flex-direction: column;
    text-align: center;
    gap: 20px; /* Adjust gap for mobile */
  }

  .about-photo {
    width: 90vw; /* Make photo larger on mobile if needed */
  }

  .about-intro-text {
    width: 90vw;
    text-align: left;
  }

  .about-drives {
    width: 90vw; /* Adjust image size for mobile */
  }

  .hobby-images {
    flex-direction: column;
    align-items: center; /* Center images vertically on mobile */
  }

  .hobby-img {
    width: 90vw; /* Adjust image size for mobile */
    margin-bottom: 20px; /* Space between images */
  }

  .about-hobby {
    margin-top: 20px; /* Reduce top margin on mobile */
  }

  .hobby-images {
    flex-direction: column;
    align-items: center; /* Center images vertically on mobile */
  }

  .hobby-img {
    width: 90vw; /* Adjust image size for mobile */
    margin-bottom: 20px; /* Space between images */
  }


  .contact-section {
    display: flex;
    margin-top: 50px;
    flex-direction:column;
  }

  .contact-item {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
  }
}
